.body {
    width: 80vw;
}

.validate {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: small;
    margin: 0px;
}

.para {
    margin: 0%;
    opacity: .5;
    transition: .3s;

}
.para span {
    margin-left: 45px;
}

.fa-times {
    opacity: 0;
}

.fa-check {
    opacity: 1;
}

.show_hide {
    transform: translateX(180px) translateY(-44px);
    font-size: 20px;
    cursor: pointer;
}