.body {
    width: 80vw;
}

.para {
    margin: 0%;
    opacity: .5;
    transition: .3s;

}
.para span {
    margin-left: 45px;
}

.show_hide {
    transform: translateX(180px) translateY(-44px);
    font-size: 20px;
    cursor: pointer;
}