body {
  width: 80vw;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.input-group {
  display: flex;
  margin: 0 0 1em 0;
  flex-direction: column;
}

.formBody{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  border-radius: 5px;
  background-color: palevioletred;
  border: 4px double lightpink;
}

div.input-group > label {
  flex: 1;
  padding: 20px;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  color: navy;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.input-group > input {
  flex: 1;
  
}

.button-input {
  display: inline-block;
  background: skyblue;
  border-radius: 15px;
  border: 4px double steelblue;
  color: white;
  text-align: center;
  font-size: large;
  padding: 5px;
  width: 5%;
  font-weight: bold;
  margin: auto;
  width: 100%;
}

.input-box {
  padding: 10px 10px;
  border-radius: 5px;
}

.headers {
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;

}

.smaller-headers {
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-box-register {
  padding: 17px 140px;
  border-radius: 5px;
}